{{#each posts as |post| }}
<div class="container row mb-4">
  <div class="card border-dark mb-3">
    <h5 class="card-header">{{post.title}}</h5>
    <div class="card-body">
      <p class="card-text">{{post.postContent}}</p>
      <h6 class="card-title mb-2 text-muted">Created by {{post.user.name}} on {{format_date post.date_created}}</h6>
      {{!-- {{#if logged_in}} --}}
      <a class="btn btn-primary " href="/comment/{{post.id}}">Comment</a>
      {{!-- {{/if}} --}}
    </div>
    {{#each post.comments as |comment|}}
    <div class="card border-dark m-2">
      <h6 class="card-text m-1">{{comment.content}}</h6>
      <p class="card-title m-1">By {{comment.user.name}}</p>
    </div>
    {{/each}}
  </div>
</div>
{{/each}}